@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fefae0;
}

body {
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 2.6rem;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flag-img {
  margin-top: 3rem;
}

.guess-indicator-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.guess-indicator {
  background-color: #d4a373;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.form-container {
  margin-top: 4rem;
}

#country-choice {
  background-color: #faedcd;
  border: none;
  border-radius: 8px;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  padding: 0.6rem;
  text-align: center;
}

.btn {
  background-color: #faedcd;
  border: none;
  border-radius: 8px;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  padding: 0.6rem;
}

.reset {
  color: #000;
  background-color: #ccd5ae;
  text-decoration: none;
}

.clue-container {
  margin-top: 2rem;
}

/* Utility Classes for flag blur */
.blur-1 {
  filter: blur(4rem);
}

.blur-2 {
  filter: blur(3rem);
}
.blur-3 {
  filter: blur(2rem);
}
.blur-4 {
  filter: blur(1rem);
}
.blur-5 {
  filter: blur(0.8rem);
}

.hidden {
  display: none;
}

.incorrect {
  background-color: #780000;
}

.correct {
  background-color: #8ac926;
}

/* Media Queries */
@media screen and (max-width: 950px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  .form-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.4rem;
  }
  #country-choice {
    font-size: 0.7rem;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .btn {
    font-size: 0.7rem;
  }
  .clue-container {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  .form-container {
    max-width: 80%;
  }
}
